In [1]:
#import dictionaries

import pandas as pd
import os

In [2]:
#open and read first 5 rows of the csv

pybank_path="PyBank.csv"
pybank_df=pd.read_csv(pybank_path)
pybank_df.head()

     Date  Profit/Losses
0  10-Jan         867884
1  10-Feb         984655
2  10-Mar         322013
3  10-Apr         -69417
4  10-May         310503

In [7]:
#Using the dif function to calculate changes from previous month

profit_dif_test=pybank_df['Profit/Losses'].diff()
pybank_df['Profit Change'] = profit_dif_test

pybank_df.head()

     Date  Profit/Losses  Profit Change
0  10-Jan         867884            NaN
1  10-Feb         984655       116771.0
2  10-Mar         322013      -662642.0
3  10-Apr         -69417      -391430.0
4  10-May         310503       379920.0

In [26]:
#printing outputs

print("")
print("Financial Analysis")
print("------------------------------")
print("Total Months: " + str(pybank_df.shape[0]))
print("Total: $" + str(pybank_df['Profit/Losses'].sum()))
print("Average Monthly Change: $" + str(pybank_df['Profit Change'].mean()))
print("Greatest Increase in Profits: $" + str(pybank_df['Profit Change'].max()) + " occurred during " + pybank_df.loc[pybank_df['Profit Change'].idxmax(), 'Date'])
print("Greatest Decrease in Profits: $" + str(pybank_df['Profit Change'].min()) + " occurred during " + pybank_df.loc[pybank_df['Profit Change'].idxmin(), 'Date'])

Financial Analysis
------------------------------
Total Months: 86
Total: $38382578
Average Monthly Change: $-2315.1176470588234
Largest Increase: $1926159.0 occurred during 12-Feb
Largest Decrease: $-2196167.0 occurred during 13-Sep